$font-notosans: "Noto Sans", sans-serif;
$font-notoserif: "Noto Serif", serif;
$font-kr: "Noto Sans KR", sans-serif;

$color-primary: #02c39a;
$color-second: #05668d;

$color-beige: #f0f3bd;
$color-black: #283845;

$color-green: #00a896;
$color-ivory: #f7ede2;
